pandas
fastapi
requests
gunicorn
spacy>=3.1.1
uvicorn
numpy
python-decouple
scikit-learn
pydantic-settings
motor
pydantic[email]
python-jose
firebase-admin
passlib
pyjwt
bcrypt
python-multipart
httpx
schedule
pyspellchecker
torch
transformers